
body{
	margin: 0;
	padding: 0;
	background: #120711;
}

img{
	width: 30%;
	margin: 1.5%;
	float: left;
}
div{
	clear: left;
	margin: auto;
	width: 90%;
}

h1{
/*	margin: 1.5%;
*/	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
	font-weight: 100;
	border-bottom: 2px solid #C9283E;
	border-bottom-width: 1px;
	width: 100%;
	text-align: left;
	color: #F0433A;
	text-transform: uppercase;
}