.container{
  max-width: 500px;
  width: 90%;
  margin-top: 10px;
  height: auto;
}
.jumbotron{
  height: auto;
  padding-top: 0;
  padding-bottom: 120px;
}
.left{
    width: 100%;
    height: 40px;
}
.btn{
  float: left;
  margin-top: 50px;
  display: table-row;
  width: 100%;
  padding-bottom: auto;
  margin: 5px auto;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1{
  text-align: center;
}
