*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.bold{
    font-weight: 800;
    font-size: 1.6em;
    color: white;
}

button{
    text-decoration: none;
    border-radius: 2px;
    padding: 9px;
    background: white;
    border: none;
    font-weight: 800;
}

.gold{
    background: #FFD524;
    color: #8E4E13;
}

.green{
    background: #44AD4D;
    color: white;
}

.white{
    height: 4000px;
}

.header{
    position: fixed;
    background: #1E2B3B;
    width: 100%;
    font-size: 1em;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: #B9BDC2;
    font-weight: 800;
    flex-wrap: wrap;
    margin
}
.blue{
    background: #294D73;
    color: white;
    font-weight: 200;
    padding: 0px 30px 30px 30px;
    text-align: left;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    height: 500px;
}
p{
    line-height: 140%;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.colon{
    background: #192E45;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: #B9BDC2;
    font-size: .8em;
}

a:hover{
    color: white;
}

.bluetext{
    max-width: 900px;
}



.account{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 20px;
}

.seperator{
    display: flex;
    margin: 0 0px 0 20px;
    height: 40px;
    border-left: 2px solid #18222F;

}

.navstart{
    display: flex;
    align-items:center;
}

.item{
    padding:  0 20px;
}

.accitem{
    margin-right: 20px;
    float: right;
}

.bars{
    font-size: 200%;
    color: white;
    margin-right: 40px;
}

.buffer{
    height: 80px;
}
.gold:hover{
    background: #E3BC20;
}

.green:hover{
    background: #378C3E;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .account{
        display: none;
    }
    .item{
        display: none;
    }
    .colon{
        display: none;
    }
    .blue{
        padding-top: 30px;
        font-size: 1.2em;
        height: auto;
        flex-grow: 0;
        flex-shrink: 0;
        text-overflow: ellipsis;
    }
    .bluetext{
        min-width: 0;
        min-height: 0;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .account{
        display: none;
    }
    .item{
        display: none;
    }
    .colon{
        display: none;
    }
    .blue{
        font-size: 1.3em;
        height: 300px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .bluetext{

    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .bars{
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .bars{
        display: none;
    }
    .blue{
        font-size: 1.7em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .bars{
        display: none;
    }
    .blue{
        font-size: 1.7em;
    }
}
