.main{
	background-color: #2A2C2B;
	max-width: 700px;
	width: 80%;
	border-top: 10px solid #374140;
	border-bottom: 10px solid #374140;
	height: 100%;
	margin: 20px auto;
	padding: 10px 20px 10px 20px;
}

body{
	background-color: #1E1E20; 
}

#first{
	border-left: 2px solid #DC3522;
	padding: 3px;
}

h1{
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

h3{
	color: #D9CB9E;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2rem;
}

p{
	color: white;
    font-family: 'Source Sans Pro', sans-serif;
}